<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app">
            {{ message }}
        </div>
    </body>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                message: 'Hello World!'
            }
        })
    </script>
</html> -->


<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Learn Vue!</title>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me to get a new message!
            </span>
        </div>
        <script>
                let app2 = new Vue({
                    el: "#app-2",
                    data: {
                        message: 'You last opened this page on ' + new Date().toLocaleString()
                    }
                })
                </script>
    </body>
</html> -->








<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="">

        </div>
    </body>
</html> -->










<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-3">
            <span v-if="seen">
                Now you see me!
            </span>
        </div>
        <script>
            let app3 = new Vue({
                el: "#app-3",
                data: {
                    seen: true
                }
            })
        </script>
    </body>
</html> -->

<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">{{ todo.text }}</li>
            </ol>
        </div>
        <script>
            let app4 = new Vue({
                el: "#app-4",
                data: {
                    todos: [
                        {text: 'Learn Javascript'},
                        {text: 'Learn HTML'},
                        {text: 'Learn Vue'}
                    ]
                }
            })
        </script>
    </body>
</html> -->
<!-- 


<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">
                Reverse Message
            </button>
        </div>
    </body>
    <script>
        let app5 = new Vue({
            el: "#app-5",
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function() {
                    return this.message = this.message.split('').reverse().join('')
                }
            }
        })
    </script>
</html> -->

<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
    </body>
    <script>
        let app6 = new Vue({
            el: "#app-6",
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
</html> -->


<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-7">
            <ol>
                <todo-item
                    v-for:"item in groceryList"
                    v-bind:todo="item"
                    b-bind:key="item.id"
                ></todo-item>
            </ol>
            <script>
                    Vue.component('todo-item', {
                        props: ['todo'],
                        template: '<li>{{ todo.text }}</li>'
                    })
                    let app7 = new Vue({
                        el: "#app-7",
                        data: {
                            groceryList: [
                                {id: 0, text: 'Vegetables'},
                                {id: 2, text: 'Fruit'},
                                {id: 3, text: 'Cheese'},
                                {id: 4, text: 'Eggs'},
                                {id: 5, text: 'Dairy'},
                                {id: 6, text: 'Not Tomatoes'},
                                {id: 7, text: 'Almost Tomatoes'}
                            ]
                        }
                    })
                </script>
        </div>
    </body>
</html> -->


<!DOCTYPE html>
<html>
<head>
</head>
<script src="https:cdn.jsdelivr.net/npm/vue"></script>
<body>
    <div id="app-8">
        <p>{{ message }}</p>
        <p>{{ reverseMessage }}</p>
    </div>
</body>
<script>
        let vm = new Vue({
            el: "#app-8",
            data: {
                message: "Hello Worldish"
            },
            computed: {
                reverseMessage: function () {
                    return this.message.split('').reverse().join('')
                }
            }
        })
    </script>
</html>

