<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app">
            {{ message }}
        </div>
    </body>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                message: 'Hello World!'
            }
        })
    </script>
</html> -->


<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Learn Vue!</title>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me to get a new message!
            </span>
        </div>
        <script>
                let app2 = new Vue({
                    el: "#app-2",
                    data: {
                        message: 'You last opened this page on ' + new Date().toLocaleString()
                    }
                })
                </script>
    </body>
</html> -->







<!-- DOCTEMPLATE -->
<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="">

        </div>
    </body>
</html> -->










<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-3">
            <span v-if="seen">
                Now you see me!
            </span>
        </div>
        <script>
            let app3 = new Vue({
                el: "#app-3",
                data: {
                    seen: true
                }
            })
        </script>
    </body>
</html> -->

<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">{{ todo.text }}</li>
            </ol>
        </div>
        <script>
            let app4 = new Vue({
                el: "#app-4",
                data: {
                    todos: [
                        {text: 'Learn Javascript'},
                        {text: 'Learn HTML'},
                        {text: 'Learn Vue'}
                    ]
                }
            })
        </script>
    </body>
</html> -->
<!-- 


<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">
                Reverse Message
            </button>
        </div>
    </body>
    <script>
        let app5 = new Vue({
            el: "#app-5",
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function() {
                    return this.message = this.message.split('').reverse().join('')
                }
            }
        })
    </script>
</html> -->

<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
    </body>
    <script>
        let app6 = new Vue({
            el: "#app-6",
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
</html> -->


<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-7">
            <ol>
                <todo-item
                    v-for:"item in groceryList"
                    v-bind:todo="item"
                    b-bind:key="item.id"
                ></todo-item>
            </ol>
            <script>
                    Vue.component('todo-item', {
                        props: ['todo'],
                        template: '<li>{{ todo.text }}</li>'
                    })
                    let app7 = new Vue({
                        el: "#app-7",
                        data: {
                            groceryList: [
                                {id: 0, text: 'Vegetables'},
                                {id: 2, text: 'Fruit'},
                                {id: 3, text: 'Cheese'},
                                {id: 4, text: 'Eggs'},
                                {id: 5, text: 'Dairy'},
                                {id: 6, text: 'Not Tomatoes'},
                                {id: 7, text: 'Almost Tomatoes'}
                            ]
                        }
                    })
                </script>
        </div>
    </body>
</html> -->


<!-- <!DOCTYPE html>
<html>
<head>
</head>
<script src="https:cdn.jsdelivr.net/npm/vue"></script>
<body>
    <div id="app-8">
        <p>{{ message }}</p>
        <p>{{ reverseMessage }}</p>
    </div>
</body>
<script>
        let vm = new Vue({
            el: "#app-8",
            data: {
                message: "Hello Worldish"
            },
            computed: {
                reverseMessage: function () {
                    return this.message.split('').reverse().join('')
                }
            }
        })
    </script>
</html> -->


<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app-9">
            <p> {{ message }} {{ fullName }}!</p>
        </div>
        <script>
                let vm = new Vue({
                    el: "#app-9",
                    data: {
                        firstName: "Dre'Sean",
                        lastName: "Williams",
                        message: "Hello",
                        fullName: 'Foo Manchoo'
                    },
                    watch: {
                        firstName: function (val) {
                            return this.fullName = val + ' ' + this.lastName
                        },
                        lastName: function (val) {
                            return this.fullName = this.firstName + ' ' + val
                        }
                    }
                })
            </script>
    </body>
</html>
 -->

<!-- 
<!DOCTYPE html>
<html>
    <head>
    </head>
    <script src="https:cdn.jsdelivr.net/npm/vue"></script>
    <body>
        <div id="app-10">
            <p>{{ message }} {{ fullName }}!</p>
        </div>
        <script>
                const vm = new Vue({
                    el: "#app-10",
                    data: {
                        message: 'Hello you friggin',
                        firstName: 'Foo',
                        lastName: 'Bar',
                    },
                    computed: {
                        fullName: {
                            get: function () {
                                return this.firstName + ' ' + this.lastName
                            },
                            set: function (value) {
                                let names = value.split(' ')
                                this.firstName = names[0]
                                this.lastName = names[names.length - 1]
                            }
                        }
                    }
                })
            </script>
    </body>
</html> -->

 <!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <div id="app-11">
            <p>Ask a yes or no question:
                </br>
                <input v-model="question">
            </p>
            <p>{{ answer }}</p>
        </div>
        <script>
                const watchVm = new Vue({
                    el: '#app-11',
                    data: {
                        question: '',
                        answer: 'I cannot give you an answer until you ask a question!'
                    },
                    watch: {
                        question: function (newQuestion, oldQuestion) {
                            this.answer = 'Waiting for you to stop typing...'
                            this.debouncedGetAnswer()
                        }
                    },
                    created: function () {
                        this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
                    },
                    methods: {
                        getAnswer: function () {
                            if(this.question.indexOf('?') == -1) {
                                this.answer = 'Questions usually end with a "?" ;P'
                                return
                            }
                            this.answer = 'Thinking...'
                            let vm = this
                            axios.get('https://yesno.wtf/api')
                            .then(function (response) {
                                vm.answer = _.capitalize(response.data.answer)
                            })
                            .catch(function (err) {
                                vm.answer = 'Error! Could not reach the api!' + err
                            })
                        }
                    }
                })
            </script>
    </body>
</html> -->







<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app">
            <button v-if="error"
            :style="[stylesObject, {color: 'red'}]">
            This does nothing
        </button>
        <button
        v-else
        @click="handleClick"
        :style="[stylesObject, {color: 'green'}]">
            Click Me!
        </button>
        </div>
        <script>
                let vm = new Vue({
                    el: "#app",
                    data: {
                        error: false,
                        stylesObject: {
                            'justify-content': 'center',
                        }
                    },
                    methods: {
                        handleClick: function () {
                            return window.alert('Good job!')
                        }
                    }
                })
            </script>
    </body>
</html> -->




<!-- <template v-if="isVisible">
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Blog</li>
        <li>News</li>
        <li>Contact</li>
    </ul>
</template> -->

<!-- <html>
    <head>
    </head>
    <body>
        <div id="app">
            <script src="https:cdn.jsdelivr.net/npm/vue"></script>
            <template
            v-if="loginType === 'username'"
            key="username-input">
                <label>Username</label>
                <input placeholder="Please enter your username" :style="stylesObject">
            </template>
            <template
            v-else="loginType === 'email'"
            key="email-input"
            >
                <label>Email</label>
                <input placeholder="please enter your email" :style="stylesObject">
            </template>
            <button @click="handleClick">Toggle Login Type</button>
        <script>
            let vm = new Vue({
                el: "#app",
                data: {
                    loginType: 'username',
                    stylesObject: {
                        width: '200px'
                    }
                },
                methods: {
                    handleClick: function () {
                        return this.loginType === 'username' ? this.loginType = 'email' : this.loginType = 'username'
                    }
                }
            })
        </script>
        </div>
    </body>
</html>
 -->

<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app">
            <span v-show="ok">
                <button
                @click="handleClick"
                >
                <p :style="stylesObject">Renders automatically in the DOM</p>
                </button>
            </span>
        </div>
        <script>
                let vm = new Vue({
                    el: "#app",
                    data: {
                        ok: true,
                        stylesObject: {
                            color: 'green',
                            'box-sizing': 'border-box',
                            border: '1px blue dotted',
                            margin: 'auto'
                        }
                    },
                    methods: {
                        handleClick: function () {
                            return window.alert('You clicked a button, oh snap!')
                        }
                    }
                })
        </script>
    </body>
</html> -->

<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app">
            <ul>
                <li v-for="(item, index) in items">
                    {{ reverseString(item.name) + ' Shaboop' }} {{ index }}
                </li>
            </ul>
        </div>
        <script>
                let vm = new Vue({
                    el: "#app",
                    data: {
                        items: [
                        {name: "Keith"},
                        {name: "Tara"},
                        {name: "Mike"},
                        {name: "John"},
                        {name: "Dany"}
                        ]
                    },
                    methods: {
                        reverseString: function (name) {
                            return name.split('').reverse().join('')
                        }
                    }
                })
            </script>
    </body>
</html> -->


<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app">
            <ul>
                <li 
                v-for="(value, key, index) in object"
                :key="key.index">
                    {{ key }} : {{ value }}
                </li>
            </ul>
            <button @click="addObject">Add</button>
            <button @click="removeObject">Remove</button>
            <p v-if="checkCount() === true">No More Object!s</p>
        </div>
        <script>
                let vm = new Vue({
                    el: "#app",
                    data: {
                        object: {
                            thing: 'person',
                            shaboop: 'place',
                            kabop: 'thing',
                            foo: 'baz',
                            bar: 'pug',
                        },
                        list: [
                            {rain: 'drop'},
                            {drop: 'top'},
                            {fuggin: 'on yo bih'},
                            {she: 'a thot'},
                            {thot: 'thot!'}
                        ],
                        count: 0
                    },
                    methods: {
                        addObject: function () {
                            this.object = Object.assign({}, this.object, this.list[this.count])
                            this.count += 1
                            return
                            /*
                            or this can be dont
                            vm.$set(object, list[count].Object.keys[0], list[count].Object.values[0])
                            count += 1
                            return
                            */
                        },
                        checkCount: function () {
                            if(this.count >= this.list.length) return true
                        },
                        removeObject: function () {
                            const keys = Object.keys(this.object)
                            Vue.delete(this.object, keys[keys.length-1])
                        }
                    }
                })
            </script>
    </body>
</html> -->


<!-- <!DOCTYPE>
<html>

<body>
    <script src="https:cdn.jsdelivr.net/npm/vue"></script>
    <div id="app">
        <ul>
            <li v-for="n in startsWithVowel">
                {{n}}
            </li>
        </ul>
    </div>
    <script>
            let vm = new Vue({
                el: "#app",
                data: {
                    items: [
                        'about',
                        'babies',
                        'chocolate',
                        'igloo',
                        'echo',
                        'dancing',
                        'out',
                        'panda',
                        'uncle',
                        'army',
                        'master'
                    ]
                },
                computed: {
                    startsWithVowel: function () {
                        return this.items.filter(function (item) {
                            console.log(item[0])
                        switch(item[0]) {
                            case 'a':
                            return item
                            break
                            case 'e':
                            return item
                            break
                            case 'i':
                            return item
                            break
                            case 'o':
                            return item
                            break
                            case 'u':
                            return item
                            break
                            default:
                            break
                        }
                        })
                    }
                }
            })
        </script>
</body>
</html> -->



<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="https:cdn.jsdelivr.net/npm/vue"></script>
        <div id="app">
            <ul>
                <li v-for="n in startsWithAConstant(items)">
                    {{ n }}
                </li>
            </ul>
        </div>
        <script>
                let vm = new Vue({
                            el: "#app",
                            data: {
                                items: [
                                    'about',
                                    'babies',
                                    'chocolate',
                                    'igloo',
                                    'echo',
                                    'dancing',
                                    'out',
                                    'panda',
                                    'uncle',
                                    'army',
                                    'master'
                                ]
                            },
                            methods: {
                                startsWithAConstant: function (items) {
                                    return items.filter(function (item) {
                                        switch(item[0]) {
                                            case 'a':
                                            return null
                                            break
                                            case 'e':
                                            return null
                                            break
                                            case 'i':
                                            return null
                                            break
                                            case 'o':
                                            return null
                                            break
                                            case 'u':
                                            return null
                                            break
                                            default:
                                            return item
                                            break
                                        }
                                    })
                                }
                            }
                })
            </script>
    </body>
</html>